<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test1.Properties.Settings.MyConStr" connectionString="Data Source=XE;Password=123;User ID=SHATOM" />
        <add name="test1.Properties.Settings.ConStr" connectionString="Data Source=XE;Password=123;User ID=SHATOM"
            providerName="System.Data.OleDb" />
        <add name="test1.Properties.Settings.ConStr_ds_form" connectionString="Provider=MSDAORA.1;Persist Security Info=True;Password=123;User ID=SHATOM"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
